.detail-quiz-container {
  display: flex;
  column-gap: 20px;
  padding: 40px 0px 90px;
  .left-content {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    .title {
      font-size: 30px;
      font-weight: 600;
    }
    .separate {
      margin-top: 20px;
      height: 1px;
      background-color: #ccc;
      border-radius: 1px;
    }
    .question-content {
      .question {
        font-size: 20px;
        font-weight: 600;
      }
      .question-img {
        margin: 10px auto 0px;
        width: 30%;
        height: 200px;
        display: flex;
        justify-content: center;
        img {
          height: 200px;
          object-fit: cover;
        }
      }
    }
    .controls {
      display: flex;
      justify-content: center;
      column-gap: 20px;
    }
  }
  .right-content {
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
}
