.display-info-container {
    .green {
        color: green;
    }
    .red {
        color: rgb(101, 0, 61);
    }
    img {
        width: 50px;
        height: 50px;
    }
    button {
        border: 1px solid blue;
        outline: none;
        background: #ccc;
    }
}
