:root {
  --primary-color: #008ebd;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: 'Poppins', sans-serif !important;
}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-btn {
  height: 40px;
  line-height: 36px;
  min-width: 84px;
  padding: 0px 18px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  &:hover {
    opacity: 0.8;
  }
}

.app-container {
  .header-container {
    position: fixed;
    inset: 0 0 auto 0;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    .navbar {
      padding: 14px 0px;

      .nav-link {
        &.active {
          color: var(--primary-color);
        }
      }
      .btn-login {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        background: transparent;
        margin-right: 15px;
      }
      .btn-signup {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }
  .main-container {
    margin-top: 70px;
  }
  .homepage-container {
    display: flex;
    align-items: center;
    .video-wrapper {
      width: calc(50% - 5px);
      width: calc(50% - 5px);
      overflow: hidden;
    }

    .homepage-content {
      .btn-start {
        height: 50px;
        line-height: 46px;
        padding: 0 20px;
      }
    }
  }
}
